#wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: skyblue;
  animation: spin 2s linear infinite;
}
.square {
  width: 30px;
  height: 30px;
  background-color: pink;
}

.text {
  color: blueviolet;
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;

  text-align: center;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
